#################################################
###  IDEs  ######################################
#################################################

.idea
.vscode/*
!.vscode/settings.json

#################################################
###  Rust  ######################################
#################################################

target

**/Cargo.lock
**/*.rs.bk

#################################################
###  C  #########################################
#################################################

components/main
